<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotapidomain" value="http://192.168.0.1"/>
    
    
    <add key="topicName" value=""/>
	 <add key="endpoint" value=""/>

    <add key="regionId"  value=""/>
    <add key="accessKeyId" value=""/>
    <add key="secretAccessKey" value=""/>
   
    
    <!--MNS数据处理-->
    <add key="status_typeName" value="Iot.Mns.Process.DeviceStatePublish"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>